@model IEnumerable<BusnLogicLaag.Outfit>

@{
    ViewData["Title"] = "OutfitToevoegen";
}

<h1>Recente Outfits</h1>

<p>
    <a asp-action="OutfitAanmaken">Nieuw</a>
</p>
<table class="table">
  <thead>
    <tr>
     <th>
       @Html.DisplayNameFor(model => model.FileAdress)
     </th>
     <th>
       @Html.DisplayNameFor(model => model.ID)
     </th>
     <th>
       @Html.DisplayNameFor(model => model.DeCategory)
     </th>
     <th>
       @Html.DisplayNameFor(model => model.Prijs)
     </th>
     <th>
       @Html.DisplayNameFor(model => model.Titel)
     </th>
    <th></th>
   </tr>
  </thead>
 <tbody>

@foreach (var item in Model) {
  <tr>
   <td>
    <img src="~/Images/@item.FileAdress" class="rounded" width="70" height="70" asp-append-version="true" />
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.ID)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.DeCategory)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Prijs)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Titel)
   </td>
   <td>
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
   </td>
   </tr>
}
 </tbody>
</table>
